<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example Express Netlify</title>
</head>

<body>
    <h1>Example Express Netlify</h1>
    <p>This is an example of how to deploy an Express app to Netlify.</p>
</body>

</html>
